extends layout

block content

  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in odio libero. Phasellus tempus sapien quis urna facilisis, quis interdum leo scelerisque
        | <br /><br />
        | Integer quis neque eget velit vulputate molestie. Donec sit amet rutrum sapien. Aliquam purus quam, tempor a magna eget, luctus blandit augue. Cras porttitor erat ac nunc commodo porta. Sed et pulvinar nisi. Donec felis ipsum, rhoncus vitae varius a, maximus vitae ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id faucibus turpis, euismod vehicula ex. Morbi et ipsum ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ex nisl, luctus ut tortor quis, pharetra iaculis leo. Vivamus quis sollicitudin dolor. Duis eros lacus, sagittis eget diam sed, pellentesque rutrum mi. Aenean dignissim, tortor eu dignissim imperdiet, turpis augue porttitor velit, ac pretium nisi erat eget nunc. Aenean consequat massa libero, a malesuada nunc consequat ut. Fusce convallis, dolor blandit hendrerit auctor, tellus mi consectetur magna, vel pulvinar ligula nisl vel ligula. 
        | <br /><br />
        | Curabitur non rutrum lectus. Nulla turpis purus, accumsan vitae mauris eu, venenatis cursus ex. Integer at mauris non mi congue congue. Maecenas mi nulla, suscipit non nunc quis, facilisis viverra sapien. Etiam rutrum pretium mi, ut vehicula lorem tincidunt non. Nunc consectetur ipsum blandit odio sollicitudin, eget aliquam turpis interdum. Vivamus et mattis dolor. Curabitur imperdiet vestibulum tortor vitae dignissim. Aliquam ut placerat nulla. Vestibulum quis tempus quam. Donec interdum, nulla a laoreet finibus, arcu est cursus turpis, sit amet pulvinar metus neque sed massa. Maecenas ut enim sit amet augue rutrum viverra. Praesent in est mollis, maximus dui eget, lacinia lacus. Nullam vitae ex tincidunt, pellentesque tortor sit amet, rhoncus orci.